.classpath
.project
.settings/
.idea/*
*.iws
/out/
*.iml
modules.xml
*.ipr
log/
target/
target/**
*.jar
*.war
*.ear
*.class
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.externalToolBuilders/
*.launch
ws/src/main/java/**
ws/target/**